section {
    text-align: center;
    padding: 30px 30px;
    margin: auto;
    float: unset;
}
section div {
    float: left;
    padding-right: 30px;
    font-weight: bold;
    font-size: 15px;
}
section input {
    font-size: 12px;
}
